/* body {background-image: url(Mone_water-lilies.jpg);
      background-size: contain;} */

*, *::after, *::before {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      transition: 0.5s ease-in-out;   //плавність переходів
}
ul {
      list-style: none;
}
a {
      text-decoration: none;
      outline: none;
      }
img {
      display: block;
      width:100%;
}
h1, h2, h3, h4, h5, h6 {
      font-family: 'Playfair Display';
      font-weight: normal;
      letter-spacing: 1px;
}
body {
       font-family:  'Playfair Display';      /*                                  'Coming Soon', cursive; */
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      line-height: 1;
      color: #242424;
      background-color: #f7f7f7;
}
/* додамо очистку потоку всіх контейнерів, всередині яких задано обтікання дочірніх елемнтів */
header::after, .conteiner::after, footer::after, .widget-painters-list li::after, #subscribe::after {
      content: "";
      display: table;
      clear: both;
}
.container {
      
      margin: 0 auto;
      width: 100%;
      max-width: 960px;
      padding: 0 15px;
}

header {
      width:100%;
      background-color: white;
      box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
      padding: 5px 0;
      margin-bottom: 0px;
      position: fixed;  
      max-height: 100px;
      z-index: 5;
}
.hello {
      display: block;
      float:left;
}
.hello span {
      color: white;
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height:30px;
      border-radius: 50%;
      margin: 15px 0;
      text-align: center;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8));

}
.hello span:nth-child(odd){
      background-color: yellowgreen;      
}
.hello span:nth-child(even){
      background-color: rgb(148, 16, 16);
}

#menu {
      float: right;
      /* border: 1px solid black; */
      margin-top: 10px;
}
#menu li {
      display: inline-block;
      margin: 5px 5px;
      padding: 10px 5px; 
      width: auto;
      /* border: 1px solid red; */
      text-align: center;
      font-size: 16px;
     
}
#menu a {
      color:rgb(37, 37, 37);
     transition-property: color;
     transition-duration: 200ms;
      font-weight: 700;
      /* max-height: 20px; */
     

}
#menu a:hover {
      font-weight: 900;
      color:orangered;      
}

#searchform {
      float: right;
      margin-left: 15px;
      display: inline-block;
      position:relative;
}
#searchform input {
      width: 170px;
      float:left;
      border: none;
      padding-left: 10px;
      height: 40px;
      overflow: hidden;
      outline: none;
      color: #9e9c9c;
      font-style: italic;
}
#searchform button {
      background: transparent;
      height: 40px;
      border:none;
      position: absolute;
      right:10px;
      color:orangered;
      cursor: pointer;
      font-size: 18px;
}
#searchform input:focus {
      outline: 2px solid red;
}

/* кнопка що з'являється при ширині менше? 768px */
.nav-toggle {
      display:none;
      position: relative;
      float: right;
      width: 40px;
      height: 40px;
      margin: 10px 10px 10px 20px;
      background: orangered;
      
      cursor:pointer;
}
.nav-toggle span {
      display: block;
      position: absolute;
      top:19px;
      left:8px;
      right: 8px;
      height:2px;
      background: white;
}
.nav-toggle span::before, .nav-toggle span::after {
      content: "";
      position:absolute;
      display: block;
      left: 0;
      width: 100%;
      height:2px;
      background: white;
}
.nav-toggle span::before {
      top: -10px;
      }
.nav-toggle span::after {
      bottom:-10px;
}
/* клас котрий буде доданий до верхнього меню при натисканні на кнопку покаже скрите меню*/
#menu.active {
      max-height: 140px;
}


/* left conteiner*/
.post-list {
      padding-top: 100px;
      /* margin-top: 100px; */
      margin-bottom: 30px;
      width:64%;
      float:left;
}
/* block for article*/
.post {
      margin-bottom: 45px;
}
.post-content p {
      line-height: 1.5;
      padding-bottom: 0.5em;
}
.post-image {
      margin-bottom:10px;
}
.category {
      margin-bottom: 15px;
}
.category a {
      color: orangered;
      text-transform:uppercase;
}
.post-title {
      margin-bottom: 12px;
      font-size:26px;
}

/*block with 'read more' and social*/
.post-footer {
      border-top:1px solid #bdbdbd;
      border-bottom: 1px solid #bdbdbd;
      position: relative;
      margin-top:0px;
}
.more-link {
      position: relative;
      display: inline-block;
      font-size: 10px;
      text-transform: uppercase;
      color:white;
      line-height:36px;
      padding: 0 22px;
      background: #3c3d41;
      letter-spacing: 0.1em;
      white-space: nowrap;
}
/* стрілочка - це лівий бордер блоку з 0*0px */
.more-link:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      top:0;
      right:0;
      border: solid #f7f7f7;
      border-width:18px;
      border-left-color:#3c3d41;
      transform: translateX(100%);
}

.post-social {
      position: absolute;
      left:auto;
      top:50%;
      right: 0;
      /* text-align:center; */
      transform: translateY(-50%);
      padding: 0;
      font-size:12px;
}
.post-social a {
      display:inline-block;
      margin-left: 8px;
      color:orangered;
      width: 25px;
      height: 25px;
      line-height: 23px;
      text-align:center;
      border-radius: 50%;
      border:1px solid orangered;
}

/* right container*/
aside {
      margin-top: 100px;
      width:33%;
      float:right;
}
.widget {
      padding: 20px 15px;
      background: white;
      font-size: 13px;
      margin-bottom: 30px;
      box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
}
.widget-title {
      font-size:18px;
      padding:10px 20px;
      margin-bottom: 20px;
      text-align: center;
      border: 1px solid orangered;
      border-radius: 50%;
      box-shadow: 2px 2px 0 0 orangered;
}
.widget-category-list li {
      border-bottom: 1px solid #ebebe3;
      padding:10px 0;
      color: #c6c6c6;
      font-style: italic;
}
.widget-category-list li a {
      color: #626262;
      margin-right: 6px;
      font-style: normal;
}
.widget-category-list li a::before {
      content: "\f105";
      display:inline-block;
      font-family: 'FontAwesome';
      margin-right:10px;
      color: #626262
}
.widget-painters-list li {
      border-bottom: 1px solid #ebebe3;
      padding:15px 0;
}
.painters-small {
      display: inline;
      /* width: 20%; */
      float:left;
      margin-right: 15px;
}
.painters-small a img {
      display: inline-block;
      float:left;
      width:20%;
      margin: 0 20px;
}
.widget-painters-title {
      font-size: 16px;
      margin: 20px 0;
      color:#626262;
}

/* art of the day */
.image-day-title {
      margin: 5px 0;
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      float: left;
      padding-right: 10px;
}
.image-day-title1 {
      font-size: 16px;
      margin: 5px 0;
}
#like button {      
      background: rgb(51, 150, 243);
      margin:10px 25px 0 25px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: 2px 2px 1px rgba(45, 106, 146, 0.822);
      transition-property: box-shadow;
      transition-duration: 50ms;
}
#like button:hover {
      box-shadow: 4px 4px 3px rgba(45, 106, 146, 0.822);

}
.like1 {
      width: 100px;
      height:40px;
      font-size: 20px;      
}
.like2 {
      width:60px;
      height:25px;
}

/* footer */
footer {
      clear: both;
      border-top: 3px solid orangered;
      padding: 30px 0;
      background: #3c3d41;
      color:white;
}
.footer-col {
      width: 33%;
      float:left;
}
.footer-col a {
      color:white;
}
.footer-col:last-child {
      text-align: right;
}
.social-bar-wrap {
      text-align:center;
}
.social-bar-wrap a i {
      margin: 0 10px;
      font-size: 18px;
}

/* медіа запити */
@media (max-width: 768px) {
      /* show button upper navigation */
.nav-toggle {
      display: block;
}
header {
      /* padding: 10px 0; */
}
/* hidden upper menu, no float, position it move to header*/
#menu {
      max-height: 0;
      background: white;
      float:none;
      position: absolute;
      overflow: hidden;
      top:70px;
      right: 0;
      left: 0;
      margin: 0;
      padding: 0;
      z-index: 3;
      border: none;
}
/* make elements block*/
#menu li {
      display:block;
      text-align: center;
      border-bottom: 1px solid #EBEBE3;
      margin-right: 0;
      }

/* escape float of columns */
.post-list, aside {
      width:100%;
      float:none;     
}
.widget-post-title {
      font-size: 1.5em;
}
}

@media (max-width:480px) {
      /* escape float "hello" and make center*/
.hello {
      float:none;
      margin: 0 auto 10px;
      display:table;
}
.hello span {
      margin: 0 2px;
}
#menu {
      top:95px;
}
#searchform {
      float:left;
      margin-left:0;
}
.nav-toggle {
      margin: 0 0 5px 0;
}

/* hidden border and centerd button  and social*/
.post-footer {
      border-top:none;
      border-bottom: none;
      text-align: center;
}
.post-social {
      position: static;
      text-align: center;
      transform: none;
      margin-top: 20px;
}
/* escape float column in footer*/
.footer-col {
      float:none;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
}
.footer-col:last-child {
      text-align: center;
      margin-bottom: 0;
}
}



